/*body
————————————————*/
body{
	text-align:center;
}


/*header
————————————————*/

header{
	height:88px;
}

#header{
	display:flex;
	height:100%;
	justify-content:space-between;
	align-items:flex-center;
}

#header a{
	color:#000;
	text-decoration:none;
	-webkit-transition: all 0.1s;
}

#header a:hover,
#content a{
	color:#ee4938;
}

#subtitle a{
	color:#ee4938;
	font-size:bold;
	text-decoration:none;
	-webkit-transition: all 0.1s;
}

#subtitle a:hover{
	opacity:0.2;
}

#links a{
	padding:10px 0;
}

ul{
	list-style-type: none;
}

header ul {
	margin:auto 45px auto 0;;
}

header ul li {
	display:inline;
	margin-right: 10px;
	font-weight:bold;
}

/* 头像呼吸灯 
————————————————*/
#header img {
	margin-left:55px;
	height:88px;
	-webkit-animation:myfirst 3.3s infinite;
}

@keyframes myfirst
{
0%		{opacity:0;}
70%	{opacity:1;}
100%	{opacity:0;}
}

/* 二维码相关 
————————————————*/
#wechatgo {
	position: fixed;
	right: 35px;
	top: 88px;
	z-index: 3;
}

@keyframes fadeIn {
	to {
	  opacity: 1;
	}
  }
  
  .fade-in {
	opacity: 0;
	animation: fadeIn .5s ease-in 1 forwards;
  }
  
  .is-paused {
	animation-play-state: paused;
  }

/*main
————————————————*/
main{
	width:80%;
	margin:auto;
	padding:0;
	margin-bottom:100px;
}

#content {
	display:inline-block;
}

#content li span {
	display:block;
	width:40%;
	flex-shrink:0;
}

#content li span a img{
	display:block;
	width:100%;
	height:100%;
}

#content li span a img:hover{
	opacity: 0.5;
	-webkit-transition: all 0.5s;
}

#content li {
	display:flex;
	flex-wrap:nowrap;
}

#content li p{
	width:60%;
	margin:auto 0;
	padding-left:36px;
	flex-shrink:1;
}

#mid {
	width:80%;
	margin:3em auto 0 auto;
}

#mid ul{
	margin-top:50px;
}

#mid p{
	font-size:1em;
	color:#000;
}

#mid ul li {
	padding:4% 0;
	border-top: 0.063rem solid rgba(0, 0, 0, 0.2);
}

/*footer
————————————————*/
footer{
	padding:40px 0 ;
	color:#ee4938;
	border-top: 0.063rem solid rgba(0, 0, 0, 0.2);
	}